
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: linear-gradient(87deg, #FF5757 15%, #ff9999 94%);
}

h1 {
  font-size: 42px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
}

.challenges {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*padding-top: 10%;*/
}

.icon1 {
  /*padding-right: 100px;*/
  color: #0d0d0d;
  border: 2px solid #f9f9f9;
  padding: 10px 20px;
  margin: 80px;
  border-radius: 24px;
  cursor: pointer;
  transition: 0.5s;
}

.icon1:hover{
  background: #f9f9f9;
  transform: scale(1.25);
}

.icon2 {
  color: #0d0d0d;
  border: 2px solid #f9f9f9;
  padding: 10px 20px;
  margin: 80px;
  border-radius: 24px;
  cursor: pointer;
  transition: 0.5s;
}

.icon2:hover {
  background: #f9f9f9;
  transform: scale(1.25);
}

.icon3 {
  color: #0d0d0d;
  border: 2px solid #f9f9f9;
  padding: 10px 20px;
  margin: 80px;
  border-radius: 24px;
  cursor: pointer;
  transition: 0.5s;
}

.icon3:hover {
  background: #f9f9f9;
  transform: scale(1.25);
}

.button-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.button {
  color: #0d0d0d;
  border: 2px solid #f9f9f9;
  padding: 10px 20px;
  margin-right: 700px;
  margin-left: 700px;
  border-radius: 24px;
  cursor: pointer;
  transition: 0.5s;
}

.button:hover {
  background-color: #f9f9f9;
  transform: scale(1.25);
}

.card {
  display: flex;
  background: #f1f1f1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 40px 270px;
  border-radius: 24px
}

.card img {
  border-radius: 24px
}

.card-title {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px
}

.card-text {
  text-align: center;
  padding: 20px;
}

.form-header {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 10%;
}

/*form {*/
/*  width: 600px;*/
/*  background: transparent;*/
/*  border: none;*/
/*  outline: none;*/
/*  border-bottom: 1px solid #1AEFC6;*/
/*  color: #fff;*/
/*  font-size: 18px;*/
/*  margin-bottom: 16px;*/
/*}*/

form {
  margin: 50px 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-control {
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #f9f9f9;
  color: #fff;
  font-size: 18px;
  margin-bottom: 16px;
  padding-left: 20px;
  margin-left: 60px;
}

input {
  height: 45px;
}

#contact-form input[type = "submit"] {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #f9f9f9;
  padding: 14px 20px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

#contact-form input[type = "submit"]:hover{
  background: #f9f9f9;
}

.message {
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #f9f9f9;
  color: #fff;
  font-size: 18px;
  margin-bottom: 16px;
  padding-left: 20px;
  margin-left: 60px;
}

.guessed {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}


